# The reown projectId
VITE_PROJECT_ID=""

# FirstFruits.sol
# https://etherscan.io/address/0xff0000000674ffb069f73038b0a54c7937552088#code
VITE_FIRSTFRUITS_ADDRESS=""

# RocketPool ETH (RETH) Address
# https://etherscan.io/token/0xae78736cd615f374d3085123a210448e74fc6393#code
VITE_RETH_ADDRESS=""

# Exported Spline scene URL for the homepage hero (Export > Public URL in Spline)
VITE_SPLINE_SCENE_URL=""

# Public mainnet RPC for read-only contract calls when injected provider doesn't provide one (or no wallet connection)
VITE_RPC_URL=""

# Query URL for the ./subgraphs deployment (historical TVL / yield-donated snapshots)
VITE_SUBGRAPH_URL=""