# The reown projectId
VITE_PROJECT_ID=""

# FirstFruits.sol
# https://etherscan.io/address/0xff0000000674ffb069f73038b0a54c7937552088#code
VITE_FIRSTFRUITS_ADDRESS="0xff0000000674ffb069f73038b0a54c7937552088"

# RocketPool ETH (RETH) Address
# https://etherscan.io/token/0xae78736cd615f374d3085123a210448e74fc6393#code
VITE_RETH_ADDRESS="0xae78736Cd615f374D3085123A210448E74Fc6393"

# Public mainnet RPC for read-only contract calls when injected provider doesn't provide one (or no wallet connection)
VITE_RPC_URL="https://ethereum-rpc.publicnode.com"

# Query URL for the ./subgraphs deployment (historical TVL / yield-donated snapshots)
VITE_SUBGRAPH_URL="https://api.studio.thegraph.com/query/1721913/firstfruits/version/latest"
